@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto&display=swap');

#form{
  width:400px;
  margin: auto;
  margin-top: 100px;
  border-radius:10%;
  background-color: rgb(41, 41, 41);
  padding:5rem 5rem;
}
*{
  font-family: 'Mulish', sans-serif;
  background-color: black;
}
a{
  color:rgb(75, 233, 233)
}
